* {
  box-sizing: border-box;
  background-color: rgb(0, 255, 251);
}
body {
  font-family: 'Julius Sans One', sans-serif;
}
.drawImg {
  height: 150px;
  width: 150px;
}
.board {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 640px;
}
.board .card {
  padding: 5px;
  width: 25%;
}
.board .card span {
  display: block;
}
.board .card img {
  /* object-fit: cover; */
  width: 150px;
  height: 150px;
}
.board .card.matched span {
  background-color: magenta;
  position: relative;
}
.board .card.matched span:before {
  content: "";
  background-image: url();
  display: block;
  opacity: .5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.matched img {
  opacity: 0;
}
.board.won .card.matched span {
  background: #000;
}